html,head,body
  padding:0
  margin:0
  height: 100vh
  background: #34495E
  color: #e9e9e9

body
  font-family: Futura, helvetica, arial, sans-serif
  overflow: hidden

#main
  padding:0
  margin:0
  height: 100vh

h1
  color: #60B5CC
  font-size: 6em
  
h2
  color: white

.slide
  display: flex
  flex-direction: column
  height: 100vh
  width: 100vw
  align-items: center
  justify-content: center
  position: absolute

.progress-bar
  position: fixed
  height: 10px
  top: 0
  left: 0
  background-color: #60B5CC

